* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 150px;
}
.nav-black {
  width: 60%;
  background-color: rgb(85, 85, 85);
}
